In [1]:
import pandas as pd
from sklearn import preprocessing 
import numpy as np

In [2]:
csv_file = '6TaipeiObserve.csv'
train_set = pd.read_csv(csv_file)
train_set.head()

,觀測時間,測站氣壓,海平面氣壓,氣溫,露點溫度,相對溼度,風速,風向,最大陣風,最大陣風風向,降水量,降水時數,日照時數,全天空日射量,能見度,紫外線指數,總雲量
0,2010-06-01-01,1008.5,1009.3,21.0,16.4,75,4.5,60,8.2,60,0,0.0,NaN,0.0,NaN,0.0,NaN
1,2010-06-01-02,1008.6,1009.4,20.9,16.8,77,2.6,70,8.0,50,0,0.0,NaN,0.0,8.0,0.0,7.0
2,2010-06-01-03,1008.7,1009.5,20.8,17.1,79,1.6,100,8.3,60,0,0.0,NaN,0.0,NaN,0.0,NaN
3,2010-06-01-04,1008.9,1009.7,19.9,15.6,76,1.6,150,4.4,100,0,0.0,NaN,0.0,NaN,0.0,NaN
4,2010-06-01-05,1009.0,1009.8,19.5,14.5,73,1.7,140,3.8,160,0,0.0,NaN,0.0,12.0,0.0,5.0

In [3]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5760 entries, 0 to 5759
Data columns (total 17 columns):
觀測時間      5760 non-null object
測站氣壓      5760 non-null float64
海平面氣壓     5760 non-null float64
氣溫        5760 non-null float64
露點溫度      5760 non-null float64
相對溼度      5760 non-null int64
風速        5760 non-null float64
風向        5760 non-null object
最大陣風      5760 non-null float64
最大陣風風向    5760 non-null int64
降水量       5760 non-null object
降水時數      5760 non-null float64
日照時數      3360 non-null float64
全天空日射量    5760 non-null float64
能見度       2189 non-null float64
紫外線指數     5736 non-null float64
總雲量       3380 non-null float64
dtypes: float64(12), int64(2), object(3)
memory usage: 765.1+ KB

In [5]:
train_set.describe()

,測站氣壓,海平面氣壓,氣溫,露點溫度,相對溼度,風速,最大陣風,最大陣風風向,降水時數,日照時數,全天空日射量,能見度,紫外線指數,總雲量
count,5760.000000,5760.00000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,3360.000000,5760.000000,2189.000000,5736.000000,3380.000000
mean,1004.777326,1006.51283,28.469028,23.236441,74.163889,1.671962,4.947674,174.399306,0.142552,0.244673,0.585602,14.330471,1.510286,7.868935
std,2.909773,3.05980,3.145629,1.572783,9.985832,1.207360,2.722900,89.967409,0.325583,0.334778,0.893283,7.423720,2.505213,2.351662
min,991.800000,992.50000,19.500000,14.500000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000
25%,1003.000000,1004.80000,26.175000,22.400000,67.000000,0.800000,2.900000,90.000000,0.000000,0.000000,0.000000,10.000000,0.000000,7.000000
50%,1004.900000,1006.80000,28.000000,23.300000,75.000000,1.400000,4.100000,160.000000,0.000000,0.000000,0.000000,13.000000,0.000000,9.000000
75%,1006.700000,1008.70000,30.700000,24.300000,82.000000,2.200000,6.500000,260.000000,0.000000,0.500000,0.972500,18.000000,2.000000,10.000000
max,1012.400000,1015.50000,38.500000,28.300000,99.000000,8.100000,20.600000,360.000000,1.000000,1.000000,3.920000,70.000000,12.000000,10.000000

In [33]:
def normalization(df, key):
    """Normalize a dataframe with specified columns

    Keyword arguments:
    df -- the input dataframe (pandas.DataFrame)
    cols -- the specified columns to be normalized (list)

    """
    x = df[[key]].values.astype(float)
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    normalized_data = pd.DataFrame(x_scaled)
    normalized_data.columns = [key]
    return normalized_data

In [82]:
normalize_train_set = train_set[['觀測時間']].copy()

In [83]:
keys = ['測站氣壓', '海平面氣壓', '氣溫', '露點溫度', '相對溼度', '風速']
for key in keys:
    temp = normalization(train_set, key)
    normalize_train_set = pd.concat([normalize_train_set, temp], axis=1, sort=False)

In [84]:
normalize_train_set.head(3)

            觀測時間      測站氣壓     海平面氣壓        氣溫      露點溫度      相對溼度        風速
0  2010-06-01-01  0.810680  0.730435  0.078947  0.137681  0.606557  0.555556
1  2010-06-01-02  0.815534  0.734783  0.073684  0.166667  0.639344  0.320988
2  2010-06-01-03  0.820388  0.739130  0.068421  0.188406  0.672131  0.197531

In [ ]:
rain = []
for item in train_set[['降水量']].values.astype(float):
    if item > 0.5:
        rain.appen